<?xml version="1.0" encoding="utf-8"?>
<!-- Только debug: HTTP к эмулятору, LAN (192.168.*) и т.д. без перечисления каждого хоста в network_security_config. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute" />
</manifest>
